#listNav {
    display: flex;
    justify-content: right;
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
}

.nav-link {
    color:black;
    font-weight: bold;
}

.nav-link:hover {
    color:#FFF
    font-weight: bold;
}

.containerSlide img {
    max-width: 1296px;
    width: 100%;
    max-height: 500px;
}

.containerSlide {
    padding-top: 20px;
}

.card1:hover {
    background-color: rgb(173, 157, 254, 0.2) ;
}

.card2:hover {
    background-color: rgb(246, 135, 179, 0.2) ;
}

.card3:hover {
    background-color: rgb(0, 163, 191, 0.2) ;
}

.card button {
    border: none;
    border-radius: 8px;
    background-color: rgb(21, 23, 105);
    padding: 8px;
    color: #FFF;
    font-weight: bold;
}

.cursos {
    display: flex;
    padding: 10px;
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 8px;
}

.espacamento{
    padding-top: 15px;
    padding-bottom: 15px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}